.tagContainer {
  margin: 0;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1vw;
  border: 1px solid green;
  height: 5vh;
  column-gap: 8px;
  font-weight: bold;
  border-radius: 8px 0px 0px 8px;
}

.tagContainer:hover {
  background-color: rgb(217, 212, 212);
}
