.tagContainer {
  margin: 0;
  width: 95%;
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1vw;
  height: 5vh;
  column-gap: 8px;
  font-weight: bold;
  border-radius: 8px 0px 0px 8px;
}

.tagContainer:hover {
  background-color: #b6b9bd;
}
