.row2 {
  position: absolute;
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.row2_child1 {
  width: 25%;
}
.row2_child2 {
  background-color: black;
  width: 60%;
}
.row2_grandChild1 {
  padding-top: 8px;
  height: 7vh;
}
.row2_grandChild2 {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 78vh;
  overflow-y: scroll;
}

.row2_grandChild2::-webkit-scrollbar {
  display: none;
}
