.navbar {
  background-color: white;
  margin: 0;
  padding: 4px 0;
  margin: auto;
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  column-gap: 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.col_1 {
  padding-left: 12px;
  width: 60%;
}
.col_3 {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1vw;
  width: 60%;
  align-items: center;
  padding-right: 2vw;
}
.col_2 {
  width: 120%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
